$primary-color: #fe2c55;
$white-color: #fff;
$black-color: #000;
$gray-color: #6c757d;
$gray-dark-color: #343a40;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$light-color: #f8f9fa;
$dark-color: #343a40;
