@import '../GlobalStyles/variable';

.wrapper {
	display: flex;
	align-items: center;
	padding: 9px 16px;
	&:hover {
		background-color: $light-color;
		cursor: pointer;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.info {
	flex: 1;
	margin-left: 12px;
}

.name {
	font-size: 1.6rem;
	font-weight: 600;
	color: $gray-dark-color;
}
.check {
	margin-left: 8px;
	color: $info-color;
	font-size: 1.2rem;
}

.username {
	font-size: 1.4rem;
	color: $gray-color;
}
