@import '../../../../GlobalStyles/variable';
$search-border: 92px;

.wrapper {
	height: $height-header;
	width: 100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
	display: flex;
	justify-content: center;
}

.content {
	height: 100%;
	width: $width-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
}
.search,
.search-result {
	width: 361px;
}

.search {
	height: 46px;
	padding-left: 16px;
	background-color: $pink-white;
	border-radius: $search-border;
	display: flex;
	align-items: center;
	border: 1.5px solid transparent;
	position: relative;
	&:focus-within {
		border-color: #c5c6c9;
	}
}

.search-result {
}

.search-title {
	padding: 5px 12px;
	color: $gray-color;
	font-size: 1.6rem;
	font-weight: 500;
}

.search-input {
	color: $dark-color;
	font-size: 1.4rem;
	background-color: transparent;
	height: 100%;
	flex: 1;
	caret-color: $primary-color;
	&:not(:placeholder-shown) ~ .search-btn {
		color: $dark-color;
	}
}

.clear-btn,
.spinner {
	color: #bababd;
	position: absolute;
	right: 68px;
	// display: none;
	font-size: 1.6rem;
	background-color: transparent;
}

.spinner {
	// display: block;
}

.search-btn {
	width: 52px;
	height: 100%;
	border-top-right-radius: $search-border;
	border-bottom-right-radius: $search-border;
	color: $gray-color;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&:hover {
		background-color: #16182308;
	}
	&:active {
		background-color: #e4e4e6;
	}
	&::after {
		content: '';
		position: absolute;
		border-left: 1px solid #1618231f;
		height: 60.8%;
		top: 50%;
		transform: translateY(-50%);
		// right: 52px;
		left: -1px;
	}
}

.actions {
}
